@model LeaveTypeReadOnlyVM

@{
    ViewData["Title"] = $"{Model.Name} Details";
}

<h1 align="center">Details for Leave Type: @Model.Name</h1>
<hr />
<div align="center">
    <dl class="row justify-content-md-center">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-2">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
    <dl class="row justify-content-md-center">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfDays)
        </dt>
        <dd class="col-sm-2">
            @Html.DisplayFor(model => model.NumberOfDays)
        </dd>
    </dl>
</div>
<div align="center">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a> 
    <br />
    <br />
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
